
footer {
  margin: auto 0 0 0;
  font-size: .82em;
  line-height: 1.45em;
  min-width: 100%;
  
  &:before { /* adds the repeating waves pattern */
    content: "";
    display: block;
    height: 46px;
    width: 100%;
    background-image: url("/assets/footer_waves.svg");
    background-size: 300px;
    background-repeat: repeat-x;
    background-position: top center;
  }
  
  a {
    font-weight: $fontWeightBold;
  }
  
  & > div
  {
    padding: 4.6em 2.4em;
    background-color: $deepBlack;
    
    display: flex;
    justify-content: center;
    align-items: stretch;
  }
  
  p:not(.box) {
    margin: 0;
    padding: 0;
  }
  
  .box {
    margin: 7px 4px;
    width: 152px;
    padding: 1.4em;
    border-radius: 4px;
    border: 1px solid $mediumViolet;
    border-bottom-width: 4px;
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    
    &.description {
      width: 392px;
      
      &:before { /* adds the etwin logo and a gradient the same color as the background to hide the purple border */
        content:"";
        margin: -68px auto 0 auto;
        width: 80px;
        height: 80px;
        background-image:
          url("/assets/etwin_icon.svg"),
          radial-gradient(circle, $deepBlack 40%, transparentize($deepBlack, 1) 75%);
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}


@media only screen and (max-width: $desktopBreakpoint) {

  footer {
    font-size: $fontSizeMobile;
    
    & > div {
      flex-direction: row;
      flex-wrap: wrap;
    }
  
    .box {
      min-width: 0;
      flex: 1 1;
      order: 1;
    
      &.description {
        min-width: 95%;
        order: 0; /* places the block ontop all others */
      }
    }
  }
}