<etwin-main-layout>
  <h1 i18n="Title of the games section@@games.title">Games</h1>
  <h2 i18n="Title of the Eternalfest game description@@games.eternalfestTitle"><a href="https://eternalfest.net/">Eternalfest</a></h2>
  <p i18n="Description of the Eternalfest game@@games.eternalfestDescription">
    <a href="https://eternalfest.net/">Eternalfest</a> is a reimplementation of <em>Hammerfest</em>. It has both the
    official levels, and new content!</p>
  <h2 i18n="Title of the &quot;more games&quot; section@@games.moreTitle">More</h2>
  <p i18n="Explanation that more games will be added to the list@@games.moreDescription">This section will be expanded
    as new games are published online.</p>
</etwin-main-layout>
